.markdown{
    display: flex;
    width: 100%;
    height: 95vh
}

.textarea{
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: #EFF1F5;
}

.preview{
    width: 50%;
    height: 100%;
    padding: 10px;
    background-color: #E8EAF1;
}
